# Hypothesis Testing for NBA Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
games = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/games.csv')
games_details = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/games_details.csv')
players = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/players.csv')
standings = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/ranking.csv')

#### Import Dataset from Data Wrangling Notebook

In [2]:
final_boxscore = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/final_boxscore.csv')

In [3]:
siakam_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == 1627783]
siakam_stats.reset_index(drop=True)

,SEASON,GAME_ID,GAME_DATE_EST,TEAM_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,GAME_LOC,PLAYER_ID,...,PTSL5_x,PTSL3_x,PTSL5_y,PTSL3_y,PTSL5_x.1,PTSL3_x.1,PTSL5_y.1,PTSL3_y.1,PTSL5,PTSL3
0,2019,21900898,2020-03-01,1610612761,1610612743,1610612761,TOR,Toronto,AWAY,1627783,...,22.666667,20.750000,22.666667,20.750000,22.666667,20.750000,22.666667,20.750000,22.666667,20.750000
1,2019,21900879,2020-02-28,1610612761,1610612761,1610612766,TOR,Toronto,HOME,1627783,...,25.666667,26.000000,25.666667,26.000000,25.666667,26.000000,25.666667,26.000000,25.666667,26.000000
2,2019,21900858,2020-02-25,1610612761,1610612761,1610612749,TOR,Toronto,HOME,1627783,...,25.000000,24.000000,25.000000,24.000000,25.000000,24.000000,25.000000,24.000000,25.000000,24.000000
3,2019,21900843,2020-02-23,1610612761,1610612761,1610612754,TOR,Toronto,HOME,1627783,...,23.833333,27.000000,23.833333,27.000000,23.833333,27.000000,23.833333,27.000000,23.833333,27.000000
4,2019,21900829,2020-02-21,1610612761,1610612761,1610612756,TOR,Toronto,HOME,1627783,...,24.500000,26.750000,24.500000,26.750000,24.500000,26.750000,24.500000,26.750000,24.500000,26.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2016,11600090,2016-10-19,1610612761,1610612765,1610612761,TOR,Toronto,AWAY,1627783,...,5.800000,5.000000,5.800000,5.000000,5.800000,5.000000,5.800000,5.000000,5.800000,5.000000
342,2016,11600059,2016-10-13,1610612761,1610612739,1610612761,TOR,Toronto,AWAY,1627783,...,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000
343,2016,11600019,2016-10-05,1610612761,1610612746,1610612761,TOR,Toronto,AWAY,1627783,...,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333
344,2016,11600004,2016-10-03,1610612761,1610612761,1610612743,TOR,Toronto,HOME,1627783,...,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000
345,2016,11600001,2016-10-01,1610612761,1610612761,1610612744,TOR,Toronto,HOME,1627783,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [4]:
harden_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == 201935]
harden_stats.reset_index(drop=True)

,SEASON,GAME_ID,GAME_DATE_EST,TEAM_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,GAME_LOC,PLAYER_ID,...,PTSL5_x,PTSL3_x,PTSL5_y,PTSL3_y,PTSL5_x.1,PTSL3_x.1,PTSL5_y.1,PTSL3_y.1,PTSL5,PTSL3
0,2019,21900892,2020-02-29,1610612745,1610612738,1610612745,HOU,Houston,AWAY,201935,...,32.833333,31.50,32.833333,31.50,32.833333,31.50,32.833333,31.50,32.833333,31.50
1,2019,21900870,2020-02-26,1610612745,1610612745,1610612763,HOU,Houston,HOME,201935,...,34.000000,33.50,34.000000,33.50,34.000000,33.50,34.000000,33.50,34.000000,33.50
2,2019,21900853,2020-02-24,1610612745,1610612745,1610612752,HOU,Houston,HOME,201935,...,34.333333,36.50,34.333333,36.50,34.333333,36.50,34.333333,36.50,34.333333,36.50
3,2019,21900841,2020-02-22,1610612745,1610612762,1610612745,HOU,Houston,AWAY,201935,...,30.500000,34.25,30.500000,34.25,30.500000,34.25,30.500000,34.25,30.500000,34.25
4,2019,21900825,2020-02-20,1610612745,1610612744,1610612745,HOU,Houston,AWAY,201935,...,30.833333,32.75,30.833333,32.75,30.833333,32.75,30.833333,32.75,30.833333,32.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,2009,10900096,2009-10-20,1610612760,1610612760,1610612759,OKC,Oklahoma City,HOME,201935,...,19.833333,11.75,19.833333,11.75,19.833333,11.75,19.833333,11.75,19.833333,11.75
1011,2009,10900087,2009-10-19,1610612760,1610612745,1610612760,OKC,Oklahoma City,AWAY,201935,...,22.666667,10.50,22.666667,10.50,22.666667,10.50,22.666667,10.50,22.666667,10.50
1012,2009,10900048,2009-10-12,1610612760,1610612760,1610612756,OKC,Oklahoma City,HOME,201935,...,26.166667,22.75,26.166667,22.75,26.166667,22.75,26.166667,22.75,26.166667,22.75
1013,2009,10900036,2009-10-10,1610612760,1610612740,1610612760,OKC,Oklahoma City,AWAY,201935,...,30.500000,28.50,30.500000,28.50,30.500000,28.50,30.500000,28.50,30.500000,28.50
1014,2009,10900019,2009-10-07,1610612760,1610612763,1610612760,OKC,Oklahoma City,AWAY,201935,...,33.666667,34.50,33.666667,34.50,33.666667,34.50,33.666667,34.50,33.666667,34.50