# Hypothesis Testing for NBA Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
games = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/games.csv')
games_details = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/games_details.csv')
players = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/players.csv')
standings = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/nba-games/ranking.csv')

#### Import Dataset from Data Wrangling Notebook

In [2]:
final_boxscore = pd.read_csv('C:/Users/michael.thabane/Documents/Springboard/Capstone2/final_boxscore.csv')

In [3]:
siakam_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == 1627783]
siakam_stats.reset_index(drop=True)

,SEASON,GAME_ID,GAME_DATE_EST,TEAM_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,GAME_LOC,PLAYER_ID,...,PTSL5_x,PTSL3_x,PTSL5_y,PTSL3_y,PTSL5_x.1,PTSL3_x.1,PTSL5_y.1,PTSL3_y.1,PTSL5,PTSL3
0,2019,21900898,2020-03-01,1610612761,1610612743,1610612761,TOR,Toronto,AWAY,1627783,...,22.666667,20.750000,22.666667,20.750000,22.666667,20.750000,22.666667,20.750000,22.666667,20.750000
1,2019,21900879,2020-02-28,1610612761,1610612761,1610612766,TOR,Toronto,HOME,1627783,...,25.666667,26.000000,25.666667,26.000000,25.666667,26.000000,25.666667,26.000000,25.666667,26.000000
2,2019,21900858,2020-02-25,1610612761,1610612761,1610612749,TOR,Toronto,HOME,1627783,...,25.000000,24.000000,25.000000,24.000000,25.000000,24.000000,25.000000,24.000000,25.000000,24.000000
3,2019,21900843,2020-02-23,1610612761,1610612761,1610612754,TOR,Toronto,HOME,1627783,...,23.833333,27.000000,23.833333,27.000000,23.833333,27.000000,23.833333,27.000000,23.833333,27.000000
4,2019,21900829,2020-02-21,1610612761,1610612761,1610612756,TOR,Toronto,HOME,1627783,...,24.500000,26.750000,24.500000,26.750000,24.500000,26.750000,24.500000,26.750000,24.500000,26.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,2016,11600090,2016-10-19,1610612761,1610612765,1610612761,TOR,Toronto,AWAY,1627783,...,5.800000,5.000000,5.800000,5.000000,5.800000,5.000000,5.800000,5.000000,5.800000,5.000000
342,2016,11600059,2016-10-13,1610612761,1610612739,1610612761,TOR,Toronto,AWAY,1627783,...,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000,5.500000
343,2016,11600019,2016-10-05,1610612761,1610612746,1610612761,TOR,Toronto,AWAY,1627783,...,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333,5.333333
344,2016,11600004,2016-10-03,1610612761,1610612761,1610612743,TOR,Toronto,HOME,1627783,...,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000,4.500000
345,2016,11600001,2016-10-01,1610612761,1610612761,1610612744,TOR,Toronto,HOME,1627783,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [4]:
harden_stats = final_boxscore.loc[final_boxscore['PLAYER_ID'] == 201935]
harden_stats.reset_index(drop=True)

,SEASON,GAME_ID,GAME_DATE_EST,TEAM_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,GAME_LOC,PLAYER_ID,...,PTSL5_x,PTSL3_x,PTSL5_y,PTSL3_y,PTSL5_x.1,PTSL3_x.1,PTSL5_y.1,PTSL3_y.1,PTSL5,PTSL3
0,2019,21900892,2020-02-29,1610612745,1610612738,1610612745,HOU,Houston,AWAY,201935,...,32.833333,31.50,32.833333,31.50,32.833333,31.50,32.833333,31.50,32.833333,31.50
1,2019,21900870,2020-02-26,1610612745,1610612745,1610612763,HOU,Houston,HOME,201935,...,34.000000,33.50,34.000000,33.50,34.000000,33.50,34.000000,33.50,34.000000,33.50
2,2019,21900853,2020-02-24,1610612745,1610612745,1610612752,HOU,Houston,HOME,201935,...,34.333333,36.50,34.333333,36.50,34.333333,36.50,34.333333,36.50,34.333333,36.50
3,2019,21900841,2020-02-22,1610612745,1610612762,1610612745,HOU,Houston,AWAY,201935,...,30.500000,34.25,30.500000,34.25,30.500000,34.25,30.500000,34.25,30.500000,34.25
4,2019,21900825,2020-02-20,1610612745,1610612744,1610612745,HOU,Houston,AWAY,201935,...,30.833333,32.75,30.833333,32.75,30.833333,32.75,30.833333,32.75,30.833333,32.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,2009,10900096,2009-10-20,1610612760,1610612760,1610612759,OKC,Oklahoma City,HOME,201935,...,19.833333,11.75,19.833333,11.75,19.833333,11.75,19.833333,11.75,19.833333,11.75
1011,2009,10900087,2009-10-19,1610612760,1610612745,1610612760,OKC,Oklahoma City,AWAY,201935,...,22.666667,10.50,22.666667,10.50,22.666667,10.50,22.666667,10.50,22.666667,10.50
1012,2009,10900048,2009-10-12,1610612760,1610612760,1610612756,OKC,Oklahoma City,HOME,201935,...,26.166667,22.75,26.166667,22.75,26.166667,22.75,26.166667,22.75,26.166667,22.75
1013,2009,10900036,2009-10-10,1610612760,1610612740,1610612760,OKC,Oklahoma City,AWAY,201935,...,30.500000,28.50,30.500000,28.50,30.500000,28.50,30.500000,28.50,30.500000,28.50
1014,2009,10900019,2009-10-07,1610612760,1610612763,1610612760,OKC,Oklahoma City,AWAY,201935,...,33.666667,34.50,33.666667,34.50,33.666667,34.50,33.666667,34.50,33.666667,34.50

#### Get data for only starting players

In [5]:
Start_guard = final_boxscore.loc[final_boxscore['START_POSITION'] == 'G']
Start_forward = final_boxscore.loc[final_boxscore['START_POSITION'] == 'F']
Start_Center = final_boxscore.loc[final_boxscore['START_POSITION'] == 'C']
Starters = Start_guard.append(Start_forward.append(Start_Center))
Starters = Starters.reset_index(drop= True)

In [6]:
desc = Starters['PTS'].groupby([Starters['SEASON'], Starters['START_POSITION']]).describe()
final = pd.DataFrame(desc)
SEASON = pd.DataFrame(final.droplevel('START_POSITION').index)
SP = pd.DataFrame(final.droplevel('SEASON').index)
final = final.reset_index(drop= True)
final_desc = pd.concat([SEASON, SP, final], axis=1, sort=False)
final_desc

,SEASON,START_POSITION,count,mean,std,min,25%,50%,75%,max
0,2003,C,2541.0,9.582448,6.755167,0.0,4.0,8.0,13.0,43.0
1,2003,F,5084.0,14.030881,7.861207,0.0,8.0,13.0,20.0,50.0
2,2003,G,5083.0,14.668896,8.192847,0.0,9.0,14.0,20.0,62.0
3,2004,C,2627.0,10.611724,7.589776,0.0,5.0,9.0,14.0,50.0
4,2004,F,5255.0,14.596384,8.123651,0.0,8.0,14.0,20.0,55.0
5,2004,G,5255.0,14.750904,8.750452,0.0,8.0,14.0,20.0,60.0
6,2005,C,2638.0,9.658453,6.877035,0.0,4.0,8.0,14.0,41.0
7,2005,F,5276.0,14.698446,8.711590,0.0,8.0,14.0,20.0,52.0
8,2005,G,5276.0,15.316717,9.187873,0.0,9.0,14.0,21.0,81.0
9,2006,C,2618.0,10.842628,7.630139,0.0,5.0,10.0,15.0,43.0
10,2006,F,5236.0,14.211039,8.514046,0.0,8.0,13.0,20.0,48.0
11,2006,G,5235.0,15.301815,8.926772,0.0,9.0,14.0,21.0,65.0
12,2007,C,2632.0,11.324848,7.288465,0.0,6.0,10.0,16.0,43.0
13,2007,F,5264.0,15.050912,8.486562,0.0,8.0,14.0,21.0,51.0
14,2007,G,5264.0,14.554331,8.541885,0.0,8.0,14.0,20.0,53.0
15,2008,C,2630.0,11.442205,7.302743,0.0,6.0,11.0,16.0,45.0
16,2008,F,5260.0,14.732129,8.539090,0.0,8.0,14.0,20.0,55.0
17,2008,G,5260.0,14.936692,8.534506,0.0,8.0,14.0,20.0,61.0
18,2009,C,2624.0,11.374238,7.131318,0.0,6.0,10.0,16.0,37.0
19,2009,F,5248.0,14.689977,8.319343,0.0,8.0,14.0,20.0,50.0
20,2009,G,5248.0,14.504954,8.300276,0.0,8.0,14.0,20.0,55.0
21,2010,C,2622.0,10.821892,7.636931,0.0,5.0,10.0,15.0,46.0
22,2010,F,5244.0,14.613463,8.134309,0.0,8.0,14.0,20.0,51.0
23,2010,G,5244.0,14.218154,8.282542,0.0,8.0,13.0,20.0,46.0
24,2011,C,2148.0,10.530726,7.448096,0.0,4.0,9.0,15.0,51.0
25,2011,F,4296.0,13.536313,8.092658,0.0,8.0,12.0,19.0,51.0
26,2011,G,4296.0,13.559358,7.998033,0.0,8.0,13.0,18.0,57.0
27,2012,C,2628.0,11.491248,6.934376,0.0,6.0,11.0,16.0,40.0
28,2012,F,5256.0,13.011606,7.923136,0.0,7.0,12.0,18.0,52.0
29,2012,G,5256.0,13.995624,7.921510,0.0,8.0,13.0,19.0,54.0
30,2013,C,2638.0,11.694466,7.165145,0.0,6.0,11.0,16.0,40.0
31,2013,F,5276.0,14.118840,8.433318,0.0,8.0,13.0,19.0,62.0
32,2013,G,5276.0,14.615997,7.891588,0.0,9.0,14.0,20.0,51.0
33,2014,C,2836.0,11.451693,6.725360,0.0,6.0,10.0,16.0,39.0
34,2014,F,5672.0,12.693406,7.467981,0.0,7.0,12.0,17.0,47.0
35,2014,G,5672.0,14.470910,8.227106,0.0,8.0,14.0,20.0,57.0
36,2015,C,2832.0,11.239054,6.879319,0.0,6.0,10.0,16.0,43.0
37,2015,F,5664.0,13.001059,8.021030,0.0,7.0,12.0,18.0,60.0
38,2015,G,5664.0,14.886476,8.544655,0.0,9.0,14.0,20.0,53.0
39,2016,C,2810.0,12.133452,7.408753,0.0,7.0,11.0,16.0,47.0
40,2016,F,5620.0,13.302669,8.427218,0.0,7.0,12.0,18.0,55.0
41,2016,G,5620.0,15.323843,9.239536,0.0,8.0,14.0,21.0,70.0
42,2017,C,2764.0,12.730101,7.510221,0.0,7.0,12.0,17.0,56.0
43,2017,F,5528.0,13.469790,8.169245,0.0,7.0,12.0,18.0,57.0
44,2017,G,5528.0,15.129342,8.706506,0.0,9.0,14.0,20.0,60.0
45,2018,C,2756.0,13.879173,7.635973,0.0,8.0,13.0,19.0,43.0
46,2018,F,5512.0,13.747279,8.463773,0.0,7.0,13.0,19.0,56.0
47,2018,G,5512.0,15.836176,9.106749,0.0,9.0,15.0,21.0,61.0
48,2019,C,1930.0,12.009326,7.418394,0.0,6.0,11.0,16.0,49.0
49,2019,F,3860.0,14.348964,8.536144,0.0,8.0,13.0,20.0,51.0
50,2019,G,3860.0,16.089896,9.521621,0.0,9.0,15.0,22.0,61.0

#### Want to run a hypothesis test to see if Siakam points are greater than the average points for a forward in 2017 and 2018

In [13]:
F_avg_2017 = final_desc[final_desc['SEASON'] == 2017][final_desc['START_POSITION'] == 'F']['mean']
F_avg_2018 = final_desc[final_desc['SEASON'] == 2018][final_desc['START_POSITION'] == 'F']['mean']

C:\Users\michael.thabane\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
C:\Users\michael.thabane\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

ValueError: Can only compare identically-labeled Series objects

In [ ]:
siakam_pts_2017 = 
siakam_pts_2018 =